[submodule "carsgallery.com.ua-app"]
	path = app
	url = https://github.com/Maxim-Mazurok/carsgallery.com.ua-app.git
[submodule "carsgallery.com.ua-cms"]
	path = cms
	url = https://github.com/Maxim-Mazurok/carsgallery.com.ua-cms.git
